@import url("https://fonts.googleapis.com/css?family=Raleway:500,700,800,900&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-telegram:before {
  content: "\e900";
  color: #fff;
}

._icon-viber:before {
  content: "\e901";
  color: #fff;
}

._icon-whatsapp:before {
  content: "\e902";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 23px;
  background-color: #fff;
  color: #252525;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 67px;
  background: #ffe43e;
  border-radius: 60px;
  padding: 5px 62px;
  font-weight: 800;
  font-size: 22px;
  color: #0d4688;
  max-width: 350px;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
}

.input._error {
  color: red;
}

.input._error .form-popup__input {
  border: 1px solid red;
}

textarea.input {
  padding: 0px 0px;
}

.logo__body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  margin-right: 9px;
}

.logo__icon img {
  width: 95px;
  height: 95px;
}

.logo__tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 281px;
}

.logo__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
}

.logo__label-white {
  color: #fff;
}

.logo__label-black {
  color: #252525;
}

.logo__quote {
  font-weight: 800;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
}

.logo__quote-white {
  color: #fff;
}

.logo__quote-black {
  color: #252525;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  line-height: 116.66667%;
  margin-bottom: 52px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.popup::before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  background: url("../img/icons/loading.gif") center no-repeat;
  opacity: 0;
  visibility: hidden;
}

.popup__content._sending:after {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  min-width: 515px;
  background: #ffffff;
  border-radius: 10px;
  padding: 45px 55px 50px 55px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 50px;
}

.popup__close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 17px;
  right: 14px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close-popup.svg") 0 0 no-repeat;
}

.popup__heading {
  width: 100%;
  position: relative;
}

.heading-popup {
  text-align: center;
}

.heading-popup__bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -17px;
}

.heading-popup__bg img {
  width: 170px;
  height: 170px;
}

.heading-popup__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 29px;
  line-height: 120%;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
}

.heading-popup__icon {
  margin-bottom: 42px;
  position: relative;
  z-index: 2;
}

.form-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-popup__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #cfdeee;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 0px 15px;
  margin-bottom: 24px;
}

.form-popup__input input {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 15px;
  min-height: 46px;
}

.form-popup__input input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__input input::-moz-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__input input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__input input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__input input::placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__input input._error::-webkit-input-placeholder {
  color: red;
}

.form-popup__input input._error::-moz-placeholder {
  color: red;
}

.form-popup__input input._error:-ms-input-placeholder {
  color: red;
}

.form-popup__input input._error::-ms-input-placeholder {
  color: red;
}

.form-popup__input input._error::placeholder {
  color: red;
}

.form-popup__icon {
  margin-right: 10px;
}

.form-popup__textarea {
  background: #ffffff;
  border: 1px solid #cfdeee;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding-top: 14px;
  padding-left: 14px;
  width: 100%;
  min-height: 146px;
  resize: vertical;
  font-weight: 600;
  font-size: 15px;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  margin-top: 18px;
  margin-bottom: 40px;
}

.form-popup__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__textarea::placeholder {
  font-weight: 600;
  font-size: 15px;
  color: #252525;
}

.form-popup__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #0d4688;
  border-radius: 54px;
  font-weight: 800;
  font-size: 19px;
  line-height: 22px;
  padding: 5px 75px;
  min-height: 60px;
  color: #fff;
}

.popup-success__heading {
  text-align: center;
  position: relative;
  padding-top: 17px;
}

.popup-success__title {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 29px;
  margin-bottom: 25px;
}

.popup-success__bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
}

.popup-success__bg img {
  width: 170px;
  height: 170px;
}

.popup-success__icon {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 45px;
}

.popup-success__icon img {
  width: 62px;
  height: 62px;
}

.popup-success__icon span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  -webkit-transform: translate(-20%, 40%);
      -ms-transform: translate(-20%, 40%);
          transform: translate(-20%, 40%);
  background: #0d4688 url("../img/icons/success.svg") center no-repeat;
}

.popup-success__text {
  font-weight: 600;
  font-size: 19px;
  line-height: 152.63158%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__body {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 50px;
}

.header__email {
  margin-left: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__email img {
  display: block;
  margin-right: 9px;
}

.header__email span {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 116.66667%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 29px;
}

.contacts-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__item:not(:last-child) {
  margin-right: 8px;
}

.contacts-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.contacts-header__icon:before {
  font-size: 24px;
}

.contacts-header__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__tell {
  font-weight: 600;
  font-size: 18px;
  line-height: 116.66667%;
  color: #fff;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
}

.contacts-header__tell:not(:last-child) {
  margin-right: 28px;
}

.footer {
  padding-top: 104px;
  margin-bottom: 80px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  margin-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 385px;
          flex: 0 0 385px;
  margin-bottom: 30px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
}

.footer__column {
  max-width: 320px;
  margin-bottom: 30px;
}

.footer__column:first-child {
  margin-right: 165px;
}

.footer__label {
  font-weight: 800;
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 51px;
  text-transform: uppercase;
}

.footer__list li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: inherit;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-footer__logo {
  margin-bottom: 55px;
}

.info-footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 57px;
}

.info-footer__link {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #cfd3e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 11px 18px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 11px 18px rgba(0, 0, 0, 0.06));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-footer__link:before {
  color: #252525;
  font-size: 25px;
}

.info-footer__link:not(:last-child) {
  margin-right: 18px;
}

.info-footer__copy {
  font-weight: 500;
  font-size: 13px;
  line-height: 169.23077%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainscreen__bg-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.mainscreen__bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mainscreen__text {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 900;
  font-size: 151px;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #0d4688;
  mix-blend-mode: multiply;
  opacity: 0.43;
  top: 170px;
}

.mainscreen__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 595px;
  padding-bottom: 238px;
}

.mainscreen__title {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 64px;
  line-height: 109.375%;
  color: #fff;
  max-width: 1000px;
  text-transform: uppercase;
}

.mainscreen__subtitle {
  margin-bottom: 66px;
  font-weight: 500;
  font-size: 27px;
  line-height: 125.92593%;
  color: #fff;
  max-width: 782px;
}

.mainscreen__decor-left {
  position: absolute;
  z-index: 2;
  left: 93px;
  bottom: 260px;
}

.mainscreen__decor-right {
  position: absolute;
  z-index: 2;
  right: 65px;
  top: 430px;
}

.services {
  margin-top: -100px;
  position: relative;
  z-index: 3;
  margin-bottom: 107px;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -18px;
  margin-right: -18px;
}

.services__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  position: relative;
  z-index: 2;
  margin-bottom: 23px;
  padding-left: 18px;
  padding-right: 18px;
}

.services__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 17px;
  background-color: #fff;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 6.5288px;
  -webkit-box-shadow: 0px 2.61152px 14.3634px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2.61152px 14.3634px rgba(0, 0, 0, 0.05);
}

.services__icon {
  margin-bottom: 29px;
}

.services__icon img {
  width: 74px;
  height: 74px;
}

.services__label {
  color: #252525;
  font-weight: bold;
  font-size: 21px;
  line-height: 123.80952%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-bg {
  background-color: #f8f8f8;
}

.service__content {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
}

.service__content-right {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.service__container {
  height: 100%;
}

.service__info {
  height: 100%;
  padding-top: 23px;
  width: 50%;
  padding-right: 30px;
}

.service__info-pad {
  padding-top: 80px;
  padding-bottom: 117px;
}

.service__info-right {
  width: 100%;
  padding-right: 0;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.service__info-left {
  padding-right: 30px;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service__img-right {
  padding-bottom: 65%;
  width: 100%;
  margin-bottom: 30px;
  min-height: auto;
}

.service__img-right-sec {
  padding-bottom: 65%;
  width: 100%;
  margin-bottom: 30px;
  min-height: auto;
}

.service__img-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 575px;
  padding: 0px 0px 30.3% 0px;
  -o-object-position: right;
     object-position: right;
  margin-bottom: 0;
  margin-top: 0;
}

.service__img-left-sec {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 670px;
  padding: 0px 0px 40% 0px;
  -o-object-position: right;
     object-position: right;
  margin-bottom: 0;
}

.info-service__title-protection {
  margin-bottom: 65px;
}

.info-service__title-right {
  max-width: 600px;
  text-align: right;
}

.info-service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-service__icon {
  position: relative;
  width: 181px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 181px;
          flex: 0 0 181px;
  height: 181px;
  margin-bottom: 20px;
  margin-right: 75px;
}

.info-service__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info-service__icon-gaz:before {
  content: "";
  position: absolute;
  background: url("../img/services/01.svg") left no-repeat;
  background-size: 100%;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 2;
}

.info-service__icon-el:before {
  content: "";
  position: absolute;
  background: url("../img/services/02.svg") left no-repeat;
  background-size: 100%;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 2;
}

.info-service__icon-te {
  margin-right: 0;
  margin-left: 75px;
}

.info-service__icon-te:before {
  content: "";
  position: absolute;
  background: url("../img/services/05.svg") left no-repeat;
  background-size: 100%;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 2;
}

.info-service__icon-po:before {
  content: "";
  position: absolute;
  background: url("../img/services/04.svg") left no-repeat;
  background-size: 100%;
  top: 0;
  width: 60px;
  height: 60px;
  z-index: 2;
}

.info-service__icon-cl {
  margin-right: 0;
  margin-left: 75px;
}

.info-service__icon-cl:before {
  content: "";
  position: absolute;
  background: url("../img/services/03.svg") left no-repeat;
  background-size: 100%;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 2;
}

.info-service__tooltips {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info-service__tooltips-p {
  padding: 20px 15px 0px 15px;
}

.info-service__tooltip {
  width: 600px;
  background-color: #fff;
  padding-top: 19px;
  padding-bottom: 24px;
  padding-left: 29px;
  padding-right: 17px;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
}

.info-service__tooltip-left:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: -59px;
  top: 25px;
  border: 2px solid #0f75bd;
  background-color: #f8f8f8;
  border-radius: 50%;
}

.info-service__tooltip-left:after {
  content: "";
  position: absolute;
  left: -46px;
  top: 31.3px;
  width: 46px;
  height: 1px;
  background-color: #0f75bd;
}

.info-service__tooltip-left-tr {
  -webkit-transform: translateX(47%);
      -ms-transform: translateX(47%);
          transform: translateX(47%);
}

.info-service__tooltip-right:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  right: -59px;
  top: 25px;
  border: 2px solid #0f75bd;
  background-color: #f8f8f8;
  border-radius: 50%;
}

.info-service__tooltip-right:after {
  content: "";
  position: absolute;
  right: -46px;
  top: 31.3px;
  width: 46px;
  height: 1px;
  background-color: #0f75bd;
}

.info-service__tooltip-right-tr {
  -webkit-transform: translateX(-74%);
      -ms-transform: translateX(-74%);
          transform: translateX(-74%);
}

.info-service__tooltip-right-it {
  -webkit-transform: translateX(-26%);
      -ms-transform: translateX(-26%);
          transform: translateX(-26%);
}

.info-service__tooltip:not(:last-child) {
  margin-bottom: 20px;
}

.info-service__label {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #0f75bd;
}

.info-service__text {
  font-weight: bold;
  font-size: 23px;
  line-height: 130.43478%;
}

.info-service__btn {
  margin-top: 25px;
}

.preview {
  padding-top: 75px;
  padding-bottom: 115px;
  background-color: #0d4688;
}

.preview__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__title {
  margin-bottom: 57px;
  font-weight: bold;
  font-size: 29px;
  line-height: 137.93103%;
  color: #fff;
  text-align: center;
  max-width: 895px;
}

@media (min-width: 991.98px) {
  .service__img-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-height: 575px;
    padding: 0px 0px 30.3% 0px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -o-object-position: right;
       object-position: right;
    margin-bottom: 0;
  }

  .service__img-right-sec {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    min-height: 670px;
    padding: 0px 0px 40% 0px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -o-object-position: right;
       object-position: right;
    margin-bottom: 0;
  }
}

@media (max-width: 1500px) {
  .mainscreen__decor-left {
    bottom: 100px;
    left: 10px;
  }

  .mainscreen__decor-right {
    top: 200px;
    right: 10px;
  }
}

@media (max-width: 1430px) {
  .btn {
    min-height: calc(50px + 17 * ((100vw - 320px) / 1110));
  }

  .btn {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1110));
  }

  .logo__icon img {
    width: calc(61px + 34 * ((100vw - 320px) / 1110));
  }

  .logo__icon img {
    height: calc(61px + 34 * ((100vw - 320px) / 1110));
  }

  .logo__label {
    font-size: calc(8px + 3 * ((100vw - 320px) / 1110));
  }

  .logo__quote {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1110));
  }

  .title {
    font-size: calc(28px + 32 * ((100vw - 320px) / 1110));
  }

  .title {
    margin-bottom: calc(30px + 22 * ((100vw - 320px) / 1110));
  }

  .popup__body {
    min-width: calc(290px + 225 * ((100vw - 320px) / 1110));
  }

  .popup__body {
    padding-left: calc(13px + 42 * ((100vw - 320px) / 1110));
  }

  .popup__body {
    padding-right: calc(13px + 42 * ((100vw - 320px) / 1110));
  }

  .popup__body {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 1110));
  }

  .heading-popup__bg img {
    width: calc(120px + 50 * ((100vw - 320px) / 1110));
  }

  .heading-popup__bg img {
    height: calc(120px + 50 * ((100vw - 320px) / 1110));
  }

  .heading-popup__title {
    font-size: calc(18px + 11 * ((100vw - 320px) / 1110));
  }

  .heading-popup__title {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1110));
  }

  .heading-popup__icon {
    margin-bottom: calc(32px + 10 * ((100vw - 320px) / 1110));
  }

  .form-popup__input {
    margin-bottom: calc(17px + 7 * ((100vw - 320px) / 1110));
  }

  .form-popup__textarea {
    margin-top: calc(13px + 5 * ((100vw - 320px) / 1110));
  }

  .form-popup__textarea {
    margin-bottom: calc(27px + 13 * ((100vw - 320px) / 1110));
  }

  .popup-success__title {
    font-size: calc(18px + 11 * ((100vw - 320px) / 1110));
  }

  .popup-success__title {
    margin-bottom: calc(20px + 5 * ((100vw - 320px) / 1110));
  }

  .popup-success__bg {
    top: calc(-15px + 0 * ((100vw - 320px) / 1110));
  }

  .popup-success__bg img {
    width: calc(120px + 50 * ((100vw - 320px) / 1110));
  }

  .popup-success__bg img {
    height: calc(120px + 50 * ((100vw - 320px) / 1110));
  }

  .popup-success__icon {
    margin-bottom: calc(30px + 15 * ((100vw - 320px) / 1110));
  }

  .popup-success__icon img {
    width: calc(44px + 18 * ((100vw - 320px) / 1110));
  }

  .popup-success__icon img {
    height: calc(44px + 18 * ((100vw - 320px) / 1110));
  }

  .popup-success__text {
    font-size: calc(16px + 3 * ((100vw - 320px) / 1110));
  }

  .header__body {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 1110));
  }

  .header__body {
    padding-bottom: calc(19px + 11 * ((100vw - 320px) / 1110));
  }

  .header__email {
    margin-left: calc(0px + 88 * ((100vw - 320px) / 1110));
  }

  .header__email span {
    font-size: calc(13px + 5 * ((100vw - 320px) / 1110));
  }

  .contacts-header__icon {
    width: calc(31px + 22 * ((100vw - 320px) / 1110));
  }

  .contacts-header__icon {
    height: calc(31px + 22 * ((100vw - 320px) / 1110));
  }

  .contacts-header__icon:before {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1110));
  }

  .contacts-header__tell {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1110));
  }

  .footer {
    padding-top: calc(64px + 40 * ((100vw - 320px) / 1110));
  }

  .footer {
    margin-bottom: calc(20px + 60 * ((100vw - 320px) / 1110));
  }

  .footer__label {
    margin-bottom: calc(27px + 24 * ((100vw - 320px) / 1110));
  }

  .info-footer__logo {
    margin-bottom: calc(35px + 20 * ((100vw - 320px) / 1110));
  }

  .info-footer__social {
    margin-bottom: calc(21px + 36 * ((100vw - 320px) / 1110));
  }

  .info-footer__copy {
    font-size: calc(12px + 1 * ((100vw - 320px) / 1110));
  }

  .mainscreen__content {
    padding-top: calc(163px + 432 * ((100vw - 320px) / 1110));
  }

  .mainscreen__content {
    padding-bottom: calc(38px + 200 * ((100vw - 320px) / 1110));
  }

  .mainscreen__title {
    margin-bottom: calc(12px + 4 * ((100vw - 320px) / 1110));
  }

  .mainscreen__title {
    font-size: calc(28px + 36 * ((100vw - 320px) / 1110));
  }

  .mainscreen__subtitle {
    margin-bottom: calc(26px + 40 * ((100vw - 320px) / 1110));
  }

  .mainscreen__subtitle {
    font-size: calc(13px + 14 * ((100vw - 320px) / 1110));
  }

  .services {
    margin-top: calc(-20px + -80 * ((100vw - 320px) / 1110));
  }

  .services {
    margin-bottom: calc(30px + 77 * ((100vw - 320px) / 1110));
  }

  .services__body {
    margin-left: calc(-13px + -5 * ((100vw - 320px) / 1110));
  }

  .services__body {
    margin-right: calc(-13px + -5 * ((100vw - 320px) / 1110));
  }

  .services__block {
    padding-left: calc(13px + 5 * ((100vw - 320px) / 1110));
  }

  .services__block {
    padding-right: calc(13px + 5 * ((100vw - 320px) / 1110));
  }

  .services__item {
    padding-top: calc(24px + 13 * ((100vw - 320px) / 1110));
  }

  .services__item {
    padding-left: calc(8px + 19 * ((100vw - 320px) / 1110));
  }

  .services__item {
    padding-right: calc(8px + 19 * ((100vw - 320px) / 1110));
  }

  .services__icon {
    margin-bottom: calc(14px + 15 * ((100vw - 320px) / 1110));
  }

  .services__icon img {
    width: calc(44px + 30 * ((100vw - 320px) / 1110));
  }

  .services__icon img {
    height: calc(44px + 30 * ((100vw - 320px) / 1110));
  }

  .services__label {
    font-size: calc(13px + 8 * ((100vw - 320px) / 1110));
  }

  .info-service__tooltip {
    padding-top: calc(11px + 8 * ((100vw - 320px) / 1110));
  }

  .info-service__tooltip {
    padding-bottom: calc(17px + 7 * ((100vw - 320px) / 1110));
  }

  .info-service__tooltip {
    padding-left: calc(10px + 19 * ((100vw - 320px) / 1110));
  }

  .info-service__tooltip {
    padding-right: calc(10px + 7 * ((100vw - 320px) / 1110));
  }

  .info-service__label {
    font-size: calc(13px + 5 * ((100vw - 320px) / 1110));
  }

  .info-service__text {
    font-size: calc(17px + 6 * ((100vw - 320px) / 1110));
  }

  .info-service__btn {
    margin-top: calc(35px + -10 * ((100vw - 320px) / 1110));
  }

  .preview {
    padding-top: calc(45px + 30 * ((100vw - 320px) / 1110));
  }

  .preview {
    padding-bottom: calc(65px + 50 * ((100vw - 320px) / 1110));
  }

  .preview__title {
    margin-bottom: calc(50px + 7 * ((100vw - 320px) / 1110));
  }

  .preview__title {
    font-size: calc(21px + 8 * ((100vw - 320px) / 1110));
  }
}

@media (max-width: 1400px) {
  .mainscreen__text {
    font-size: 110px;
  }
}

@media (max-width: 1350px) {
  .footer__column:first-child {
    margin-right: 70px;
  }
}

@media (max-width: 1250px) {
  .header__email {
    margin-left: 0;
  }

  .contacts-header__numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contacts-header__links {
    margin-bottom: 10px;
  }

  .info-service__tooltip-left-tr {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .info-service__tooltip-right-tr {
    -webkit-transform: translateX(-26%);
        -ms-transform: translateX(-26%);
            transform: translateX(-26%);
  }
}

@media (max-width: 1200px) {
  .footer__column {
    max-width: 220px;
  }

  .services__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 1100px) {
  .info-service__tooltip {
    width: 450px;
  }
}

@media (max-width: 991.98px) {
  .contacts-header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .contacts-header__tell:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }

  .footer__row {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
    margin-bottom: 42px;
  }

  .footer__column:first-child:not(:last-child) {
    margin-bottom: 67px;
  }

  .footer__column {
    max-width: 320px;
    margin-bottom: 0;
  }

  .mainscreen__text {
    display: none;
  }

  .mainscreen__decor-left {
    display: none;
  }

  .mainscreen__decor-right {
    display: none;
  }

  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .service__content-right {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .service__info {
    margin-bottom: 40px;
    padding-bottom: 0;
    width: 100%;
    padding-right: 0;
  }

  .service__info-right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
  }

  .service__img-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 65%;
    width: 100%;
    margin-top: 45px;
    min-height: 0;
  }

  .service__img-left-sec {
    padding-bottom: 65%;
    width: 100%;
    min-height: 0;
    margin-top: 0;
  }

  .info-service__title-right {
    max-width: none;
    text-align: left;
  }

  .info-service__row-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-service__icon {
    margin-right: 0;
  }

  .info-service__icon-te:before {
    left: 0;
  }

  .info-service__icon-te {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
  }

  .info-service__icon-cl:before {
    left: 0;
  }

  .info-service__icon-cl {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
  }

  .info-service__tooltips-block {
    margin-bottom: 20px;
    padding: 0px 15px;
  }

  .info-service__tooltips-p {
    padding: 0px 15px 0px 15px;
  }

  .info-service__tooltips {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .info-service__tooltip-left:before {
    display: none;
  }

  .info-service__tooltip-left:after {
    display: none;
  }

  .info-service__tooltip-right:before {
    display: none;
  }

  .info-service__tooltip-right:after {
    display: none;
  }

  .info-service__tooltip-right-tr {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .info-service__tooltip-right-it {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .info-service__tooltip {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .header {
    position: relative;
    background-color: #0d4688;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .header__contacts {
    margin-bottom: 10px;
  }

  .header__email img {
    display: none;
  }

  .contacts-header__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts-header__item-whatsapp {
    margin-bottom: 8px;
  }

  .contacts-header__item:not(:last-child) {
    margin-right: 0;
  }

  .contacts-header__icon {
    margin-right: 8px;
  }

  .services__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 474.98px) {
  .popup-success__heading {
    padding-top: 8px;
  }

  .popup-success__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }

  .popup-success__icon span {
    position: relative;
    display: block;
    margin-top: 21px;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }

  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .footer__column:first-child {
    margin-right: 0;
  }

  .footer__column {
    text-align: center;
    max-width: none;
  }

  .info-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-footer__copy {
    text-align: center;
  }

  .mainscreen__btn {
    width: 100%;
  }

  .services {
    padding-top: 27px;
    margin-top: 0;
  }

  .services__label {
    max-height: 35px;
    overflow: hidden;
  }

  .info-service__icon-gaz {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info-service__icon-el {
    width: 100%;
  }

  .info-service__icon-te {
    width: 100%;
  }

  .info-service__icon-po {
    width: 100%;
  }

  .info-service__icon-cl {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .mainscreen__bg-desktop {
    display: none;
  }

  .mainscreen__bg-mobile {
    display: block;
    -o-object-position: top;
       object-position: top;
  }
}